.image-upload-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload-input {
  display: none;
}


.img-display-before {
  height: 200px;
  width: 200px;
}

.img-display-after {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

/* .image-edit-button{
  top: 13%;
}
 */
