@import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

body {
  font-family: 'Mina', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #5C5470; 
  color: #FAF0E6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background 0.5s ease-in-out;
}

.navbar {
  background: #352F44; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li a {
  display: block;
  color: #FAF0E6;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar li a:hover {
  background-color: #AD7BE9;
  transform: scale(1.1);
}

.app {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #352F44; /* Footer with transparency */
  color: #FAF0E6;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  margin-top: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-top: 1px solid whitesmoke;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-top: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  width: 60%; 
}

.right {
  width: 40%; 
  align-items: center;
  padding: 50px;
}

.left > div {
  text-align: left;
  margin: 0;
  padding: 0;
}

.left > div > h1 {
  padding-top: 20px;
  font-size: 40px;
  margin: 0;
}

.left button {
  padding: 12px 25px;
  background: #B9B4C7; 
  color: #FAF0E6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.left button:hover {
    background-color: #AD7BE9;
    text-decoration: underline;
    color: black;
  }
  

.form-container {
  background: #B9B4C7; /* Form container gradient */
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  max-width: 400px;
  margin: 30px auto;
  box-shadow: 0 4px 8px #000000;
  text-align: center;
}

.form-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  font-family: 'Mina', sans-serif; /* Apply Mina font to inputs */
}

.form-container input::placeholder {
  font-family: 'Mina', sans-serif; /* Apply Mina font to placeholders */
}

.form-container input:focus {
  box-shadow: 0 0 5px black;
}

.form-container button {
  padding: 12px 25px;
  background: #352F44;
  color: #FAF0E6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-container button:hover {
  background-color: #AD7BE9; /* Button hover color */
  transform: scale(1.05);
}

.form-container a {
  color: black; /* Link color */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.form-container a:hover {
  text-decoration: underline;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

hr {
  padding-left: 20px;
}
